In [121]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [122]:
data = pd.read_csv("/media/storage/agam/drone_launch/outputs/gaussian_p_2/gaussian_2_time.csv")

In [123]:
data

     name    time  priority
0   uav27  23.580  3.960074
1    uav3  24.035  2.400492
2   uav15  24.368  2.409034
3   uav19  24.508  4.798217
4    uav6  24.836  2.405702
5   uav17  24.927  5.301613
6   uav20  25.007  4.737263
7   uav13  25.467  4.432542
8   uav36  25.650  4.009677
9    uav5  25.705  2.528811
10  uav39  25.919  4.475479
11   uav8  26.186  4.872274
12  uav18  26.256  5.211469
13   uav4  26.385  4.645466
14  uav26  26.427  2.537783
15  uav11  26.915  3.142479
16  uav35  27.039  2.733403
17  uav32  27.097  3.337905
18  uav28  27.186  3.946288
19  uav38  27.267  3.261561
20  uav24  27.536  1.500405
21   uav9  28.325  3.119649
22  uav40  28.566  4.408712
23  uav23  28.796  4.092185
24  uav30  28.816  2.002391
25  uav12  28.885  4.089599
26  uav22  29.476  2.067386
27  uav14  29.555  3.848047
28  uav16  30.075  3.697693
29  uav10  31.025  2.009495
30  uav33  32.725  3.470637
31  uav25  32.815  3.380403
32  uav37  32.975  3.298810
33   uav1  33.775  2.250502
34  uav29  34.675  1.503369
35  uav21  35.035  2.265418
36   uav2  36.825  1.689475
37   uav7  36.845  1.462970

In [124]:
bins = [0,1,2,3,4,5,6]
data['binned'] = pd.cut(data['priority'], bins)
data

     name    time  priority  binned
0   uav27  23.580  3.960074  (3, 4]
1    uav3  24.035  2.400492  (2, 3]
2   uav15  24.368  2.409034  (2, 3]
3   uav19  24.508  4.798217  (4, 5]
4    uav6  24.836  2.405702  (2, 3]
5   uav17  24.927  5.301613  (5, 6]
6   uav20  25.007  4.737263  (4, 5]
7   uav13  25.467  4.432542  (4, 5]
8   uav36  25.650  4.009677  (4, 5]
9    uav5  25.705  2.528811  (2, 3]
10  uav39  25.919  4.475479  (4, 5]
11   uav8  26.186  4.872274  (4, 5]
12  uav18  26.256  5.211469  (5, 6]
13   uav4  26.385  4.645466  (4, 5]
14  uav26  26.427  2.537783  (2, 3]
15  uav11  26.915  3.142479  (3, 4]
16  uav35  27.039  2.733403  (2, 3]
17  uav32  27.097  3.337905  (3, 4]
18  uav28  27.186  3.946288  (3, 4]
19  uav38  27.267  3.261561  (3, 4]
20  uav24  27.536  1.500405  (1, 2]
21   uav9  28.325  3.119649  (3, 4]
22  uav40  28.566  4.408712  (4, 5]
23  uav23  28.796  4.092185  (4, 5]
24  uav30  28.816  2.002391  (2, 3]
25  uav12  28.885  4.089599  (4, 5]
26  uav22  29.476  2.067386  (2, 3]
27  uav14  29.555  3.848047  (3, 4]
28  uav16  30.075  3.697693  (3, 4]
29  uav10  31.025  2.009495  (2, 3]
30  uav33  32.725  3.470637  (3, 4]
31  uav25  32.815  3.380403  (3, 4]
32  uav37  32.975  3.298810  (3, 4]
33   uav1  33.775  2.250502  (2, 3]
34  uav29  34.675  1.503369  (1, 2]
35  uav21  35.035  2.265418  (2, 3]
36   uav2  36.825  1.689475  (1, 2]
37   uav7  36.845  1.462970  (1, 2]

In [125]:
times = data.groupby(['binned']).mean()

In [126]:
time_nums = data.groupby(['binned'])
size = time_nums.size()

In [127]:
times

             time  priority
binned
(0, 1]        NaN       NaN
(1, 2]  33.970250  1.539055
(2, 3]  28.230636  2.328220
(3, 4]  28.955909  3.496686
(4, 5]  26.536900  4.456141
(5, 6]  25.591500  5.256541

In [128]:
times['occurences']=size

In [129]:
times

             time  priority  occurences
binned
(0, 1]        NaN       NaN           0
(1, 2]  33.970250  1.539055           4
(2, 3]  28.230636  2.328220          11
(3, 4]  28.955909  3.496686          11
(4, 5]  26.536900  4.456141          10
(5, 6]  25.591500  5.256541           2

In [130]:
times.to_excel('gaussian.xlsx')